.blog_publisher span i {
    color: #f9a826;
}

blockquote {
    line-height: 35px;
}
.single_comment img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #000d6b;
    object-fit: cover;
}
.reply {
    color: #000d6b;
    font-weight: 600;
    cursor: pointer;
}
.reply i {
    color: #f9a826;
}

.leave_comment-form input, 
.leave_comment-form textarea {
    border: 1px solid rgba(0, 12, 107, 0.118); 
    padding: 5px;   
}
.leave_comment-form input:focus, 
.leave_comment-form textarea:focus {
    outline: none;    
}

.comment_btn {
    background: #000d6b !important;
    color: #fff !important;
}

.recent_blog-item h6 a {
    text-decoration: none;
    color: #000d6b;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .leave_comment-form input,
    .leave_comment-form textarea {
        font-size: 0.7rem;
    }
    .comment_btn {
        padding: 5px 10px !important;
        font-size: 0.8rem !important;
        margin-top: 0px !important;

    }
    .leave_comment-form h4 {
        font-size: 1.2rem;
    }
    .single_comment img {
        width: 40px;
        height: 40px;
    }
    .comment_content {
        font-size: 0.8rem;
        list-style: 1.4rem;
    }
    .blog_details p {
        font-size: 0.8rem;
        line-height: 1.4rem;
    }
}